<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
		<add key="dataPath" value ="C:\pvcTestRigData"/>
		<add key="filePath" value ="C:\pvcTestRigData\TestConfigurationTextFiles"/>
		<add key="machinedataPath" value ="C:\pvcTestRigData\MachineData"/>
    <add key="userFilesPath" value ="C:\pvcTestRigData\UserFiles"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>